.card {
    margin-top: 24px;
    background-color: var(--card-background);
    border: 1px solid var(--border-color);
    border-radius: 16px;
    padding: 24px;
}

.list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
