.card {
    margin-top: 24px;

    background-color: #111827;

    border: 1px solid #1f2937;

    border-radius: 16px;

    padding: 24px;
}

.list {
    margin-top: 24px;

    display: flex;

    flex-direction: column;

    gap: 16px;
}
