.header {
    height: 70px;
    border-bottom: 1px solid #1f2937;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 24px;

    background-color: #0f172a;
}
