.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-top: 24px;
    flex-wrap: wrap;
}

.filters {
    display: flex;
    align-items: center;
    gap: 12px;
}

.button {
    background-color: var(--card-background);
    border: 1px solid var(--border-color);
    color: var(--muted-text);
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
        border-color: #2563eb;

        color: white;
    }
}

.active {
    background-color: #2563eb;
    border-color: #2563eb;
    color: white;
}
